CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/fee21ca6-7b00-4d9a-87b8-651675f4ffce.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/4e1b8c44-172e-431c-81df-958509c25305.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/bef11d9e-5d00-4c6b-b487-30ee70dfbb59.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/bf677fd9-4946-4d84-a573-a35acb119238.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/1b0380c6-075c-4302-b2ac-33ac62418a45.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/97b22735-c0ce-4e1d-b6c6-26105020296e.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/06f93845-242e-4692-92dc-ee963d8e4f5e.vsidx
CSharp/FirstApplication/.vs/FirstApplication/FileContentIndex/51c11612-26ad-4e83-acfd-25db3adc93fc.vsidx                
DotNet/CRUD/.vs/CRUD/FileContentIndex/c5efa850-d38a-4589-8ce4-43a0a98ab9b6.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/f1700d3c-3f81-4df4-9624-f195acc2c365.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/f878f5b5-8bf0-4378-b351-9fce50c4afc8.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/f9c38aea-67e8-4615-bbb5-a881f2a3f792.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/6e235744-7c68-4595-8bbd-6be453ec7236.vsidx 
DotNet/CRUD/.vs/CRUD/FileContentIndex/6e99e9fb-b0cd-4fc9-8e2b-6f6a0616635f.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/82bdc8e3-5458-4c59-b2af-a9851c630d4c.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/c1b696f3-8f76-45ad-8379-60dc4617ad22.vsidx
DotNet/CRUD/.vs/CRUD/FileContentIndex/dff8ddbd-1ddb-4bb5-9338-bdbdba4fb918.vsidx
DotNet/CookieAuthentication/.vs/CookieAuthentication/FileContentIndex/0eb13b45-cce0-433f-b898-032a1b4c4379.vsidx
DotNet/CookieAuthentication/.vs/CookieAuthentication/FileContentIndex/56a1c341-1c6d-4308-b03c-948903e1eca4.vsidx
DotNet/CookieAuthentication/.vs/CookieAuthentication/FileContentIndex/7b2e43b3-735b-4c47-9790-baa2c4d655a0.vsidx
DotNet/CookieAuthentication/.vs/CookieAuthentication/FileContentIndex/8a09b17d-bd6d-4493-b912-74d7c4d43679.vsidx
DotNet/CookieAuthentication/.vs/CookieAuthentication/FileContentIndex/9262e865-92e3-4765-ad3c-9d15f19ca38a.vsidx
                             